In [3]:
import pandas as pd
test_data = pd.read_csv('test_data.csv')
test_data.head()

   dlg_id  line_n     role                                               text
0       0       0   client                                               Алло
1       0       1  manager                                  Алло здравствуйте
2       0       2   client                                        Добрый день
3       0       3  manager  Меня зовут ангелина компания диджитал бизнес з...
4       0       4   client                                                Ага

In [13]:
# Поиск подстрок без цикла по всем строкам датафрейма. Task 1. Извлекать реплики с приветствием – где менеджер поздоровался
greetings = ['здравствуйте', 'добрый день', 'доброе утро', 'добрый вечер']
df = pd.read_csv('test_data.csv')
df['greeting'] = df['text'].str.lower().str.contains('|'.join(greetings))
df[df['greeting'] & (df['role'] == 'manager')]

     dlg_id  line_n     role                      text  greeting
1         0       1  manager         Алло здравствуйте      True
110       1       1  manager         Алло здравствуйте      True
166       2       2  manager         Алло здравствуйте      True
250       3       1  manager  Алло дмитрий добрый день      True

In [4]:
# Поиск только по нормализованным строкам. Task 1. Извлекать реплики с приветствием – где менеджер поздоровался
import pandas as pd
import nltk
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords
from string import punctuation
nltk.download('stopwords')

test_data = pd.read_csv('test_data.csv')
greetings = ['здравствуйте', 'добрый день', 'доброе утро', 'добрый вечер']

#Токенизация
test_data['tokenized'] = test_data.apply(lambda row: nltk.word_tokenize(row['text']), axis=1)
test_data['tokenized']

#Убираем стоп слова
stopword = stopwords.words('russian')
test_data['without_stopwords'] = [word for word in test_data['tokenized'] if word not in stopword]
test_data['without_stopwords']
#test_data['text'].apply(lambda x: ' '.join([

[nltk_data] Downloading package stopwords to C:\Users\stacy.LAPTOP-
[nltk_data]     6PR3K6I0\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

0                                                 [Алло]
1                                   [Алло, здравствуйте]
2                                         [Добрый, день]
3      [Меня, зовут, ангелина, компания, диджитал, би...
4                                                  [Ага]
                             ...
475    [По, поводу, виджетов, и, с, ними, уже, обсуди...
476    [Все, я, вам, высылаю, счет, и, с, вами, на, с...
477                                   [Спасибо, спасибо]
478    [Да, да, тогда, созвонимся, ага, спасибо, вам,...
479                 [Ну, до, свидания, хорошего, вечера]
Name: without_stopwords, Length: 480, dtype: object

In [5]:
# Использовать Spacy для поиска имён
#import spacy
#import re
#import nltk

#from nltk.tokenize import word_tokenize
#from spacy.lang.ru.examples import sentences


#with open('test_data - Copy.csv', 'r', encoding="utf8") as csv_file:
#    reader = csv.reader(csv_file)
#    regExpCompl = re.compile ('[^a-zA-Zа-яА-Я ]')
#    for row in reader:
#        nlp = spacy.load('ru_core_news_sm')
#        my_stopwords = ['Ага', 'Угу', 'эм', 'эр']
#        doc = nlp(row[3])
#        cleaned_review = regExpCompl.sub('', ', '.join(row).lower())
#        tokens = nltk.word_tokenize(cleaned_review)    
#        for token in doc:    
#            if row[2] == 'manager' and 'зовут' in tokens and token.pos_ in ['PROPN']:
#                print (token.text, token.pos_)

In [ ]:
# Использовать Spacy для поиска имён
import spacy
import nltk

from spacy.lang.ru import Russian
from nltk.tokenize import word_tokenize
nlp = spacy.load('ru_core_news_sm')
test_data = pd.read_csv('test_data.csv')

#Токенизация
test_data['tokenized'] = test_data.apply(lambda row: nltk.word_tokenize(row['text']), axis=1)
for tokens in test_data['tokenized']:
    for elemmas in tokens:
        doc = nlp(elemmas)
        for nlptoken in doc:
            if nlptoken.pos_ == 'PROPN':
                print(elemmas, nlptoken.pos_)